@CHARSET "UTF-8";
body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}
#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.demo {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 20px;
  color:#3cb3e4;
}
.heading {
  margin: 10px 0
}
.demo9 .heading {
  border-top: 3px solid #3cb3e4;
  border-bottom: 3px solid #3cb3e4;
  padding: 5px 20px;
  position: relative;
  width: 300px;
  text-align: center;
  margin: 30px auto;
  color: #3cb3e4;
  font-weight: bold;
}
.demo9 .heading:before {
  content: "";
  border-left: 3px solid #3cb3e4;
  border-right: 3px solid #3cb3e4;
  display: block;
  position: absolute;
  width: calc(100% - 20px);
  height: 58px;
  top: -8px;
  left: 8px;
}

#form{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

form p{
    font-size: 14px;
    }

.form-title{
    text-align: center;
    }

.mail,.pass{
    margin-bottom: 20px;
    }

input[type="email"],
input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
    }
    
.submit{
    text-align: right;
    }
    
#new{
    width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }
    
.title,.start,.end{
    margin-bottom: 20px;
    }
    
input[type="text"]{
    width: 500px;
    padding: 4px;
    font-size: 14px;
    }

.login-user {
	margin-left: 5cm;
	font-size: 18px;
	color: #800080;
}
.username {
	margin-left: 5cm;
	font-size: 18px;
}